* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #f0e0c2;
  overflow-y: hidden;
}
nav {
  width: 100%;
  background-color: transparent;
  padding: 30px;
  line-height: 20px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-logo {
  font-family: "Dancing Script", cursive;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 100;
  color: #222222;
  text-transform: uppercase;

}
.nav-menu a {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 2.3rem;
  cursor: pointer;
}
a:hover {
  border-bottom: 2px solid #de6900;
  padding: 6px 14px;
  transition-duration: 0.3s;
  overflow-y: hidden;
}
#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #222222;
  padding: 0 100px;
}
.content1 {
  display: flex;
  flex-direction: column;
  padding-top: 170px;
  margin-left: 2rem;
}
.title h1 {
  font-size: 45px;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.imge1 {
  width: 370px;
  height: 270px;
  background-image: url("https://images.unsplash.com/photo-1542826438-bd32f43d626f?q=80&w=1292&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0.80rem;
}
.content2 {
  display: flex;
  flex-direction: column;
  margin-top: 145px;
  padding: 16px;
}
.imge2 {
  width: 390px;
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1495147466023-ac5c588e2e94?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D");
  background-color: rgba(70, 162, 198, 0.748);
  opacity: 3.7;
}
.title2 p {
  margin-bottom: 0;
  margin-top: 33px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  line-height: 1.3rem;
}
.content2 button {
  padding: 12px 26px;
  margin-top: 1.80rem;
  background-color: #de6900;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.social-container {
  position: absolute;
  right: 55px;
  bottom: 40%;
}
.social-icons {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 35px 0;
  color: #222222;
  gap: 18px;
  cursor: pointer;
  position: relative;
}
i:hover {
  transform: scale(1.5);
  color: #de6900;
}
